@model List<Livro>
@{
    ViewData["Title"] = "Listagem de Livros";

    int FiltroP = Int32.Parse( ViewData["livrosP"].ToString());
    int pAtual = Int32.Parse(ViewData["pAtual"].ToString());
    int NumLivrosP = (Model.Count<FiltroP ?  Model.Count : FiltroP);
    int NumTotalP = Model.Count/NumLivrosP + (Model.Count%NumLivrosP == 0 ? 0 : 1);
    
    }
<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Autor">Autor</option>
                <option value="Titulo">Título</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button><br>
            
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if(Model.Count > 0){
        <table class="table table-striped"> 
            <thead>
                <tr><th>Id</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @for(int i = (pAtual-1)*NumLivrosP; i<(NumLivrosP*pAtual<Model.Count?NumLivrosP*pAtual:Model.Count); i++)
                {
                <tr>
                    <td>@Model[i].Id</td>
                    <td>@Model[i].Titulo</td>
                    <td>@Model[i].Autor</td>
                    <td>@Model[i].Ano</td>
                    <td><a href="/Livro/Edicao/@Model[i].Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
        }else{
            <span>Nenhum registro encontrado</span>
        }
        
        <div class="pag">
            <ul class="pagination">
                 <li class="page-item"><a class="page-link">Página</a></li>
            @for(int i=1; i<=NumTotalP; i++)
            {
               
                <li class="page-item"><a class="page-link" href="/Livro/Listagem?pAtual=@i">@i</a></li>
            }
            </ul>
            </div>
        
    </div>
</div>